<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">

		<title>{% block title %}{% endblock title %}</title>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
		{% block styles %}{% endblock styles %}

		<!-- Scripts -->
		<script src="https://kit.fontawesome.com/4233858d6d.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		{% block scripts %}{% endblock scripts %}
	
	</head>

	<body>        
        {% block main %}{% endblock main %}
    </body>
</html>
