:root{
    --black-tile: #262626;
    --blue-tile: #2f76c7;
    --green-tile: #309b26;
    --purple-tile: #8a4da8;
    --red-tile: #ca2626;
    --yellow-tile: #fcee32;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.tile{
    height: 50px;
    width: 50px;
}