@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

:root {
	--black-tile: #262626;
	--blue-tile: #2f76c7;
	--green-tile: #309b26;
	--purple-tile: #8a4da8;
	--red-tile: #ca2626;
	--yellow-tile: #fcee32;

	--win: #f7f72c;
	--loss: #b82f2f;
	--draw: #9dc9d8;

	--drop-shadow: drop-shadow(0px 0px 10px #aaaaaa);
	--outcome-shadow: drop-shadow(0px 0px 10px #2b2b2b);
}

body {
	font-family: "Arvo", serif;
	background-color: #e6e6e6;
}
h2, h3 {
	margin: 0;
}
a {
	text-decoration: none;
}
.hidden {
	visibility: hidden;
}

.mt {
	margin-top: 1.5em;
}
.mb {
	margin-bottom: 1.5em;
}

.space-between {
	justify-content: space-between;
}
.vertical-align {
	align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-board {
	position: relative;
	filter: var(--drop-shadow);
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.tile {
	height: 50px;
	width: 50px;
}
.tile.player {
	z-index: 0;
	animation: player-tile 1.5s linear infinite;
}
@keyframes player-tile {
	50% {
		opacity: 75%;
	}
}
.option-tile {
	cursor: pointer;
	height: 50px;
	width: 50px;
	filter: var(--drop-shadow);
}
.option-tile.invalid {
	cursor: not-allowed;
	height: 20px;
	width: 20px;
	filter: var(--drop-shadow);
}

.score {
	margin: 0 10px;
	width: 30px;
	display: flex;
	justify-content: center;
}

.game-over{
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* background-color: #0000002a;
	width: 100%;
	height: 100%; */
}

.outcome {
	padding: 5px 10px;
	border-radius: 0.25em;
	filter: var(--outcome-shadow);
	transform: scale(100%);
	animation: end-game 0.5s linear;
}
@keyframes end-game {
	0% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}
.outcome.win {
	background-color: var(--win);
	color: black;
}
.outcome.loss {
	background-color: var(--loss);
	color: white;
}
.outcome.draw {
	background-color: var(--draw);
	color: black;
}

.play-again {
	cursor: pointer;
	margin-top: 10px;
	font-size: 2em;
	color: white;
	filter: var(--outcome-shadow);
}
.play-again-box{
	border-radius: 0.25em;
	background-color: white;
	color: #a1a1a1;
	font-size: 0.5em;
	padding: 3px 6px;
}
.new-game-arrow {
	animation: new-game-out 0.5s 1;
	animation-fill-mode: forwards;
}
.new-game-arrow:hover {
	animation: new-game-in 0.5s 1;
	animation-fill-mode: forwards;
}
@keyframes new-game-in {
	from { transform: rotate(20deg); }
	to { transform: rotate(-20deg); }
}
@keyframes new-game-out {
	from { transform: rotate(-20deg); }
	to { transform: rotate(20deg); }
}