@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

:root {
	--black-tile: #262626;
	--blue-tile: #2f76c7;
	--green-tile: #309b26;
	--purple-tile: #8a4da8;
	--red-tile: #ca2626;
	--yellow-tile: #fcee32;

	--drop-shadow: drop-shadow(0px 0px 10px #aaaaaa);
}

body {
	font-family: "Arvo", serif;
	background-color: #e6e6e6;
}

.mt {
	margin-top: 1.5em;
}
.mb {
	margin-bottom: 1.5em;
}

.space-between {
	justify-content: space-between;
}
.vertical-align {
	align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-board {
	filter: var(--drop-shadow);
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.tile {
	height: 50px;
	width: 50px;
}
.tile.player {
	animation: player-tile 1.5s linear infinite;
}
@keyframes player-tile {
	50% {
		opacity: 75%;
	}
}
.option-tile {
	cursor: pointer;
	height: 50px;
	width: 50px;
	filter: var(--drop-shadow);
}
.option-tile.invalid {
	cursor: not-allowed;
	height: 20px;
	width: 20px;
	filter: var(--drop-shadow);
}

.score {
	margin: 0 10px;
	width: 30px;
	display: flex;
	justify-content: center;
}