<div id="board" class="row mb space-between" data-game="{{ json }}">
    <div class="row">
        <span>Player 1</span>
        <span id="player-score" class="score {{ game.player_1.color.name }}" data-score="{{ game.player_1.score }}">{{ game.player_1.score }}</span>
    </div>
    <div class="row">
        <span id="computer-score" class="score {{ game.computer.color.name }}" data-score="{{ game.computer.score }}">{{ game.computer.score }}</span>
        <span>Computer</span>
    </div>
</div>
<div class="game-board drop-shadow">
    {% include "home/gameover.html" %}
    {% for row in game.board.grid %}
    <div class="row">
        {% for tile in row %}
        <div class="tile {{ 'player' if tile.player == 1 else '' }}  {{ tile.color.name }}" data-tile="{{ tile }}"></div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="row mt space-between vertical-align">
    {% for color in game.board.colors %}
    <div class="option-tile  {{ color.name }} {{ 'invalid' if not color.available else 'valid' }}" data-color="{{ color.name }}"></div>
    {% endfor %}
</div>