{% extends "layout.html" %}

{% block title %}Filler{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock scripts %}

{% block main %}
<div class="container center">
    <h1>Filler</h1>
    <div class="game-container">
        <div class="row mb space-between">
            <div class="row">
                <span>Player 1</span>
                <span class="score {{ game.player_1.color.name }}">{{ game.player_1.score }}</span>
            </div>
            <div class="row">
                <span class="score {{ game.computer.color.name }}">{{ game.computer.score }}</span>
                <span>Computer</span>
            </div>
        </div>
        <div class="game-board drop-shadow">
            {% for row in game.board.grid %}
            <div class="row">
                {% for tile in row %}
                <div class="tile {{ 'player' if tile.player == 1 else '' }}  {{ tile.color.name }}" data-tile="{{ tile }}"></div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="row mt space-between vertical-align">
            {% for color in game.board.colors %}
            <div class="option-tile  {{ color.name }} {{ 'invalid' if not color.available else 'valid' }}" data-color="{{ color.name }}"></div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock main %}