{% extends "layout.html" %}

{% block title %}Filler{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock scripts %}

{% block main %}
<div class="container center">
    <h1>Filler</h1>
    <div id="game-container" class="game-container">
    {% include "home/game.html" %}
    </div>
</div>
    
{% endblock main %}